@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);

*{
    margin: 0;
    padding: 0;

}

.body {
    background-image: url(./img/pexels-johannes-plenio-3131634.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
    padding: 20px 40px;
}
i {
    padding: 40px;
}

.topbar {
    
    overflow: hidden;
    /* background-color: gray; */
    display: block;

}
a{
    display: inline;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;

}
.photo{
display: inline;
    
   

}
.poe1{
    
    position: fixed;
    width: 150px;
    top: 10px;
    right:100px;
    border: 2px solid black;
    border-radius: 50px;
}
.poe2 {
 
   position: fixed;
    width: 150px;
    top: 20PX;
    right: 400px;
    border: 2px solid black;
    border-radius: 50px;
}
.poe3 {
 
    position: fixed;
    width: 150px;
    top: 300px;
    right: 400px;
    border: 2px solid black;
    border-radius: 50px;
}
.poe4 {
   
    position: fixed;
    width: 150px;
    top: 300px;
    right: 100px;
    border: 2px solid black;
    border-radius: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
}

